{{> navigation isCommandExecutor=true }}

<div class="container">
    <h3 class="mt-3">Commands:</h3>
    <div class="list-group">
        {{#each commands}}
            <div class="list-group-item">
                <h5>{{@key}}</h5>
                <p>Command: "{{this.command}}"</p>
                <small class="text-muted">Timeout: {{this.timeout}} ms</small>
                <div class="d-flex justify-content-between">
                    <a href="{{../executeCommandUrlTemplate}}?command={{@key}}" class="btn btn-primary" role="button">Run</a>
                    {{#unless ../isRestricted}}
                        <a href="{{../removeCommandUrlTemplate}}?command={{@key}}" class="btn btn-danger" role="button">Remove</a>
                    {{/unless}}
                </div>
            </div>
        {{/each}}
    </div>
    {{#unless isRestricted}}
        <form method="post" action="{{addCommandUrlTemplate}}" class="mt-1">
            <div class="form-group">
                <label for="name">Name of a command to add</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Command name" required>
            </div>
            <div class="form-group">
                <label for="command">Actual shell command</label>
                <input type="text" class="form-control" id="command" name="command" placeholder="Shell command" required>
            </div>
            <div class="form-group">
                <label for="timeout">Timeout of a command</label>
                <input type="number" class="form-control" id="timeout" min="0" name="timeout" placeholder="How many milliseconds can this command execute for" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    {{/unless}}
</div>
